$khaki: #e2d7ac;
$sand: #b4a996;
$gold: #ecb731;
$safety-green: #8ec06c;
$forest-green: #537b35;
$light-blue: #c4dff6;
$sky-blue: #56a0d3;
$classic-blue: #0091cd;
$midnight-blue: #004b79;
$deep-red: #7f181b;
